*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans Condensed", sans-serif;
}
.main_container{
    display: flex;
    flex: 1;
    height: 100%;
    width: 50%;
    overflow-y: scroll;
    flex-direction: column;
    border: 1px solid #2d2d2d;
    margin-bottom: 10px;
    padding: 15px;

    gap: 20px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    padding: 20px;
}
.message_field{
    width: calc(50% + 30px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
.message_text {
    width: 100%;
    resize: none;
}

.message{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.right_side{
    align-items: flex-end;
}
.text{
    background-color: rgb(63, 130, 218);
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    display: flex;
    font-size: 18px;
}

.username{
    font-size: 22px;
    font-weight: 600;
}
.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.user_image{
    width: 30px;
    height: 30px;
}
textarea{
    border: 2px solid #2d2d2d;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}

button{
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid  rgb(63, 130, 218);
    font-size: 18px;
    /* width: 125px; */
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.25s all;
}

button:hover{
    background-color:rgb(63, 130, 218);
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
form input{
    border: 2px solid #2d2d2d;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}